.edit-container
  .btn
    height: 20px
    padding: 0 10px
    font-size: 12px
  .icon
    font-size: 20px

.edit-rows
.unedit-rows
  border-bottom: solid 1px #ccc
  padding: 0 0 15px
  margin: 0 0 15px

.company-col
  label,
  span
    line-height: 32px
.company-col-item
  display: flex
  align-items: flex-start
  margin: 0

.textarea
  width: 900px
  resize: none



