.searchList
  background-color: #fff;
  padding: 15px 10px 15px 24px;
.title
  height: 66px;
  line-height: 66px;
  background-color: #fff;
  padding: 0 36px;
.btn
  position: absolute;
  top: 22px;
  right: 24px;
.con
  background-color: #fff;
.basic-info
  padding: 10px 30px 30px;
.mt10
  margin-bottom: 10px;
.icon-size
  font-size: 20px;
  float: right;
  padding-right: 20px;
  cursor: pointer;
.contract-form
  .title
    background: rgb(56, 79, 101) none repeat scroll 0% 0%
    color: #fff
    height: 32px;
    line-height: 32px
    font-size: 14px
    padding: 0 12px
    cursor: pointer
    overflow: hidden
  .add-contract
    float: right
    margin-top: 4px
  table
    font-size: 12px
    th, td
      border: 1px solid #e8e8e8
    thead 
      th
        padding: 12px 8px
        text-align: center
    tbody
      tr 
        td  
          padding: 12px 8px
          &:last-child
            text-align: center
            button 
              margin: 0 2px
              font-size: 12px
    tfoot 
      font-size: 12px
      background: rgb(204, 204, 204)
      height: 34px
      line-height: 34px
      ul
        margin: 0
        padding: 0
        list-style: none
        li
          float: left
          margin-left:10px
          :global
            .ant-form-item-required
              margin: 0
    :global
      .ant-select
        font-size: 12px !important
.contract-type
  div
    height: 50px
    line-height: 50px
    background: rgb(204, 204, 204)
    text-align: center
    font-size: 18px
    font-weight: 500
    margin: 8px 0
    cursor: pointer
  .active
    background: rgb(170, 226, 246)